<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>跳转提示</title>
</head>
<body>
<div class="ip-attack"><dl>
    <?php switch ($code) {?>
    <?php case 1:?>
    <dt style="color: green"><?php echo(strip_tags($msg));?></dt>
    <?php break;?>
    <?php case 0:?>
    <dt style="color: red"><?php echo(strip_tags($msg));?></dt>
    <?php break;?>
    <?php } ?>
    <br>
    <dt>
        页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
    </dt></dl>
</div>
<script type="text/javascript">
    (function(){
        var wait = document.getElementById('wait'),
            href = document.getElementById('href').href;
        var interval = setInterval(function(){
            var time = --wait.innerHTML;
            if(time <= 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>
</body>
</html>